<% @tweets.order('created_at DESC').each do |tweet| %>
   <div class="well">
     <div class="row">
       <div class="col-md-3">
         <% if tweet.user.avatar.url.present? %>
         <%= image_tag tweet.user.avatar.url, size: "100x100", class: "img-circle" %>
         <% else %>
         <%= image_tag "default.jpg", size: "100x100", class: "img-circle" %>
         <% end %>

         <%= link_to tweet.user.username, profile_path(tweet.user.username), class: "center-block" %>
       </div>
       <div class="col-md-9">

         <h2> <%= tweet.text %> </h2>

          Tag:<% tweet.tags.map(&:text).each do |tag| %>
          <%= link_to ' #' + tag, search_tag_tweets_path(tag) %>
         <% end %> <br/>

         at <%= tweet.updated_at %> <br/>

       </div>
     </div>

      <div class="btn-group btn-group-justified" role="group" aria-label="...">

        <%= link_to tweet_path(tweet) do %> <button type="button" class="btn btn-default"><%= tweet.comments.count %> <%= tweet.comments.count == 1 ? 'reply' : 'replies' %></button> <% end %>

        <% if current_user.id == tweet.user.id %>
          <%= link_to edit_tweet_path(tweet) do %> <button type="button" class="btn btn-default">Edit</button> <% end %>
          <%= link_to tweet_path(tweet), method: :delete, remote: true do %> <button type="button" class="btn btn-danger pull-right">Delete</button> <% end %>
          <!-- , data: { confirm: "Are you sure you wish to permanently delete this tweet?" } %> -->
        <% end %>

      </div>

  </div>
  <br/>
<% end %>
