<h1>Welcome to our twitter clone! </h1>

<ul>
<% @tweets.each do |tweet| %>
  <li>
    User: <%= tweet.user.email %>
    Tweet: <%= tweet.text %>

    <% if current_user.id == tweet.user.id %>
      <%= link_to "Edit", edit_tweet_path(tweet) %>
      <%= link_to "Delete", tweet_path(tweet), method: :delete %>
      <!-- , data: { confirm: "Are you sure you wish to permanently delete this tweet?" } %> -->
    <% end %>

  </li>
  <% end %>
</ul>

<%= link_to "New Tweet", new_tweet_path %>
