<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">

      <div class="well">
        <h1><%= @tweet.text %></h1>
        tweeted by <%= link_to @tweet.user.email, profile_path(@tweet.user) %> at <%= @tweet.updated_at %>
      </div>

      <div class="well">
        <h3>Replies:</h3>
        <%= render partial: 'commentlist' %>

        <%= button_to "Add a reply", new_tweet_comment_path(@tweet), method: :get, class: "btn btn-default" %>

      </div>

    </div>
  </div>
</div>
